<div class="review-section">
  <h2 class="heading">We Ensure Everyone is Happy in the Zone</h2>
  <div class="feedback-section">
    <div class="sec-one">
      <div class="comment">
        <p class="feedback">
          "FlexBox's apparel line is a winner! The quality and trendy designs
          are a reflection of the gym's commitment to excellence."
        </p>
        <div class="img-name">
          <img
            class="img"
            src="../../assets/steve.jpg"
            alt="Customer-Steve Lee"
          />
          <h4 class="name">Steve Lee</h4>
        </div>
      </div>
      <div class="comment">
        <p class="feedback">
          "The nutritionists' expertise at Flexbox is unmatched. They've helped
          me achieve my fitness goals by tailoring dietary recommendations that
          align perfectly with my workouts."
        </p>
        <div class="img-name">
          <img
            class="img"
            src="../../assets/customer-5.jpg"
            alt="Customer- Liam Turner"
          />
          <h4 class="name">Liam Turner</h4>
        </div>
      </div>
      <div class="comment">
        <p class="feedback">
          "FlexBox's SPA is top-notch! Their treatments are a blend of luxury
          and wellness, leaving me refreshed and ready to conquer the day."
        </p>
        <div class="img-name">
          <img
            class="img"
            src="../../assets/customer-2.jpg"
            alt="Customer-Mike Roberts"
          />
          <h4 class="name">Mike Roberts</h4>
        </div>
      </div>
    </div>
    <div class="sec-two">
      <div class="comment">
        <p class="feedback">
          "FlexBox's gym facilities are exceptional! From state-of-the-art
          equipment to motivating trainers, I've seen impressive gains in my
          fitness journey.The variety of workout options and welcoming
          atmosphere make each session enjoyable and effective."
        </p>
        <div class="img-name">
          <img
            class="img"
            src="../../assets/customer-3.jpg"
            alt="Customer-Jane Smith"
          />
          <h4 class="name">Jane Smith</h4>
        </div>
      </div>
      <div class="comment">
        <p class="feedback">
          "Joining Flexbox Gym was the best decision I made. The motivating
          atmosphere and diverse workout routines keep me coming back for more.
          Highly recommended! The state-of-the-art equipment and skilled
          trainers have helped me achieve my goals. Kudos!"
        </p>
        <div class="img-name">
          <img
            class="img"
            src="../../assets/customer-4.jpg"
            alt="Customer-Alex Johnson"
          />
          <h4 class="name">Alex Johnson</h4>
        </div>
      </div>
    </div>
    <div class="sec-three">
      <div class="comment">
        <p class="feedback">
          "Attending Yoga and Meditation classes at Flexbox is my secret to
          mental clarity. The classes offer a holistic approach that leaves me
          feeling refreshed and centered"
        </p>
        <div class="img-name">
          <img class="img" src="../../assets/dave.jpg" alt="Customer-Dave" />
          <h4 class="name">Dave</h4>
        </div>
      </div>

      <div class="comment">
        <p class="feedback">
          "Love the FlexBox apparel collection! Stylish, comfortable, and
          designed for performance – I feel confident in every workout"
        </p>
        <div class="img-name">
          <img
            class="img"
            src="../../assets/customer-1.jpg"
            alt="Customer-margot olsen"
          />
          <h4 class="name">Margot Olsen</h4>
        </div>
      </div>
      <div class="comment">
        <p class="feedback">
          "Kudos to FlexBox's nutritionists! Their expertise has revolutionized
          the way I fuel my body, leading to visible results and improved
          well-being."
        </p>
        <div class="img-name">
          <img
            class="img"
            src="../../assets/customer-6.jpg"
            alt="Customer-Sofia Miller"
          />
          <h4 class="name">Sofia Miller</h4>
        </div>
      </div>
    </div>
  </div>
</div>
