<div class="footer-section" id="#footer">
  <div class="footer">
    <div class="social-media">
      <img src="../../assets/logo.png" alt="flexbox logo" class="logo" />
      <h4 class="follow">Check us out on</h4>

      <div class="social-media-platforms">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
    </div>
    <div class="points-sec1">
      <ul class="points">
        <li>
          <a href="#footer" class="text"> FlexZone for business </a>
        </li>
        <li>
          <a href="#footer" class="text"> FlexZone franchise </a>
        </li>
        <li>
          <a href="#footer" class="text"> Networks </a>
        </li>
        <li>
          <a href="#footer" class="text"> Blogs </a>
        </li>
        <li>
          <a href="#footer" class="text"> Careers </a>
        </li>
      </ul>
    </div>
    <div class="points-sec2">
      <ul class="points">
        <li>
          <a href="#footer" class="text"> Contact us </a>
        </li>
        <li>
          <a href="#footer" class="text"> Privacy Policy </a>
        </li>
        <li>
          <a href="#footer" class="text"> BMI Caculator </a>
        </li>
        <li>
          <a href="#footer" class="text"> Security </a>
        </li>
        <li>
          <a href="#footer" class="text"> Terms and condition </a>
        </li>
      </ul>
    </div>
    <div class="address-download">
      <p class="address">
        First main, Second Cross, <br />
        Vijayanagara,<br />
        Shimoga,<br />
        Karnataka - 577205.
      </p>
      <div class="download-section">
        <h4 class="download">Download our App</h4>
        <div class="OS">
          <i class="fa-brands fa-google-play"></i>
          <i class="fa-brands fa-apple"></i>
        </div>
      </div>
    </div>
  </div>
</div>
