<div class="pricing-main" id="price">
  <h2 class="intro">Detailed pricing comparision.</h2>
  <div class="pricing-comp-sec">
    <div class="monthly-pricing">
      <div class="pricing-sec">
        <h3 class="period">For a Month</h3>
        <div class="subscription">
          <i class="fa-solid fa-indian-rupee-sign icon"></i>
          <h2 class="price">2,499</h2>
        </div>
        <h4 class="get">What you get for that?</h4>
      </div>
      <div class="get-sec">
        <ul class="get-list">
          <li class="get-item">
            <mat-icon class="icon">done_outline</mat-icon>
            <p class="get-exp">
              Access to all our
              <strong class="highlight">Hi-tech gym</strong> all over India
            </p>
          </li>
          <li class="get-item">
            <mat-icon class="icon">done_outline</mat-icon>
            <p class="get-exp">
              Personal<strong class="highlight"> Trainer</strong>
            </p>
          </li>
          <li class="get-item">
            <mat-icon class="icon">done_outline</mat-icon>
            <p class="get-exp">
              Access to our
              <strong class="highlight">AI</strong> powered Diet system
            </p>
          </li>

          <li class="get-item">
            <mat-icon class="icon">done_outline</mat-icon>
            <p class="get-exp">
              Get <strong class="highlight">5%</strong> discount of our apparels
            </p>
          </li>
        </ul>
      </div>

      <a href="#price" class="get-link">Be a Member </a>
    </div>
    <div class="yearly-pricing before">
      <div class="pricing-sec">
        <h3 class="period">For a year</h3>
        <div class="subscription">
          <i class="fa-solid fa-indian-rupee-sign icon"></i>
          <h2 class="price year-special">19,999</h2>
        </div>
        <h4 class="get">What you get for that?</h4>
      </div>
      <div class="get-sec">
        <ul class="get-list">
          <li class="get-item">
            <mat-icon class="icon">done_outline</mat-icon>
            <p class="get-exp">
              Access to all our
              <strong class="highlight">Hi-tech gym</strong> all over India
            </p>
          </li>
          <li class="get-item">
            <mat-icon class="icon">done_outline</mat-icon>
            <p class="get-exp">
              Personal<strong class="highlight"> Trainer</strong>
            </p>
          </li>
          <li class="get-item">
            <mat-icon class="icon">done_outline</mat-icon>
            <p class="get-exp">
              Personal<strong class="highlight"> Nutritionist</strong>
            </p>
          </li>
          <li class="get-item">
            <mat-icon class="icon">done_outline</mat-icon>
            <p class="get-exp">
              Access to our
              <strong class="highlight">AI</strong> powered Diet system
            </p>
          </li>
          <li class="get-item">
            <mat-icon class="icon">done_outline</mat-icon>
            <p class="get-exp">
              Access to our
              <strong class="highlight">SPA Parlor</strong>
            </p>
          </li>
          <li class="get-item">
            <mat-icon class="icon">done_outline</mat-icon>
            <p class="get-exp">
              Get <strong class="highlight">20%</strong> discount on our
              apparels
            </p>
          </li>

          <li class="get-item">
            <mat-icon class="icon">done_outline</mat-icon>
            <p class="get-exp">
              You save
              <strong class="highlight"> 33.33%</strong> on membership price
            </p>
          </li>
        </ul>
      </div>

      <a href="#price" class="get-link year-special-btn">Be a Member </a>
    </div>
    <div class="quarterly-pricing">
      <div class="pricing-sec">
        <h3 class="period">For 3 Month</h3>
        <div class="subscription">
          <i class="fa-solid fa-indian-rupee-sign icon"></i>
          <h2 class="price">6,499</h2>
        </div>
        <h4 class="get">What you get for that?</h4>
      </div>
      <div class="get-sec">
        <ul class="get-list">
          <li class="get-item">
            <mat-icon class="icon">done_outline</mat-icon>
            <p class="get-exp">
              Access to all our
              <strong class="highlight">Hi-tech gym</strong> all over India
            </p>
          </li>
          <li class="get-item">
            <mat-icon class="icon">done_outline</mat-icon>
            <p class="get-exp">
              Personal<strong class="highlight"> Trainer</strong>
            </p>
          </li>
          <li class="get-item">
            <mat-icon class="icon">done_outline</mat-icon>
            <p class="get-exp">
              Access to our
              <strong class="highlight">AI</strong> powered Diet system
            </p>
          </li>

          <li class="get-item">
            <mat-icon class="icon">done_outline</mat-icon>
            <p class="get-exp">
              Get <strong class="highlight">10%</strong> discount on our
              apparels
            </p>
          </li>
          <li class="get-item">
            <mat-icon class="icon">done_outline</mat-icon>
            <p class="get-exp">
              You save
              <strong class="highlight"> 13.33%</strong> on membership price
            </p>
          </li>
        </ul>
      </div>

      <a href="#price" class="get-link">Be a Member </a>
    </div>
  </div>
  <p class="disclaimer">
    Prices include all applicable taxes. You can cancel at any time.
  </p>
</div>
